.Button {
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    margin: auto;
    padding: 5px;
}

.Button:disabled {
    color: #ccc;
    background-color: white;
    border: double #ccc;
    cursor: not-allowed;
}

.Brawn {
    background-color: brown;
    border: double brown;
}

.Brawn:hover {
    color: brown;
    background-color: lightgrey;
}

.Orange {
    background-color: #FF9800;
    border: double #FF9800;
    margin: auto 10px;
}

.Orange:hover {
    color: #FF9800;
    background-color: #f6ddb79c;
}

.Orange:disabled {
    color: #ccc;
    background-color: white;
}