body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.App {
  width: 97%;
  margin: auto;
  /*text-align: center;*/
  border: 2px solid #2f6060;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input {
  margin: 25px 0 25px 10px;
}

input[type="checkbox"] {
  cursor: pointer;
}

textarea {
  margin: 10px 5px;
  width: 250px;
}

h4 {
  overflow: hidden;
  max-width: 165px;
  max-height: 65px;
}

p {
  overflow: hidden;
  width: 300px;
  max-height: 85px;
  margin-left: 5px;
  margin-right: 5px;
}

button {
  padding: 0 2px;
  cursor: pointer;
  color: white;
  background-color: darkmagenta;
}

